.point_font {
  font-family: "Oswald", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  padding: 2.5rem;
}

header .left {
  display: flex;
  align-items: center;
}

.main_logo {
  margin-right: 55px;
  cursor: pointer;
}

.gnb_menu_area {
  display: flex;
}

.gnb_menu_area .gnb_1dep {
  color: #d2d2d3;
  text-decoration: none;
  margin-right: 60px;
  transition: color 0.4s;
}

.gnb_menu_area .gnb_1dep:hover {
  color: #222;
}

.gnb_menu_area .gnb_1dep:last-child {
  margin-right: none;
}

.ham_btn {
  position: relative;
  width: 30px;
  height: 21px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.ham_btn .ham_el {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
}

.ham_btn .ham_el:before {
  content: "";
  position: absolute;
  top: 0px;
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
}

.ham_btn .ham_el:after {
  content: "";
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
}

.content_container {
  display: flex;
  justify-content: center;
  background: #f9fafc;
  padding-bottom: 120px;
}

.content_container .inner {
  max-width: 1440px;
  height: auto;
  padding: 2.5rem;
  display: grid;
  grid-template-areas:
    "a a a b"
    "a a a c"
    "d e e c"
    "d f g h";
  grid-gap: 30px;
  grid-auto-rows: 275px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contents {
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  color: #fff;
}

.contents .text_area {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}

.contents.slide .text_area {
  justify-content: center;
  align-items: center;
}

.content1 .text_area .state_area {
  padding-left: 0;
}
.content1 .title_text {
  padding-left: 0;
  padding: 0 1.3rem;
}

.text_area .title_label {
  background: #ff565c;
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  padding: 0px 1.5625rem;
  margin-bottom: 20px;
  letter-spacing: 0.1875rem;
  margin-top: 30px;
}

.title_text {
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-left: 1.5625rem;
  line-height: 1.2;
}

.contents.slide .title_text {
  font-size: 2rem;
  text-align: center;
  line-height: 1.6;
}

.sub_text {
  font-size: 1.125rem;
  line-height: 1.4;
  text-align: center;
  opacity: 0.7;
}

.contents.slide .text_area .state_area {
  position: absolute;
  bottom: 10px;
}

.text_area .state_area {
  padding-left: 25px;
  margin-bottom: 25px;
}

.state_area .state {
  padding-left: 2.1875rem;
  position: relative;
  font-size: 0.8125rem;
}

.state_area .state:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0.75rem;
  width: 1.125rem;
  height: 1rem;
}

.state_area .share:before {
  background: url("./assets/imgs/iconShare.png") no-repeat;
  background-size: contain;
}

.state_area .view:before {
  background: url("./assets/imgs/iconView.png") no-repeat;
  background-size: contain;
}

.state_area .comments:before {
  background: url("./assets/imgs/iconComments.png") no-repeat;
  background-size: contain;
}

.contents .slide_btn_area {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translate(-50% 0);
}

.contents .slide_btn_area .arrow {
  width: 50px;
  height: 50px;
  background: url("./assets/imgs/arrow_left.png") #1d1f24 no-repeat;
  background-position: center;
  border: none;
}

.arrow.right_arrow {
  transform: rotate(180deg);
  position: absolute;
  right: 0;
}

.content1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: a;
  background: url("./assets/imgs/financeBg1.png") #000 no-repeat;
  background-size: cover;
  background-position: center;
}

.content2 {
  grid-area: b;
  background: url("./assets/imgs/financeBg2.png") #000 no-repeat;
  background-size: cover;
  background-position: center;
}

.content3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: c;
  background: #ff565c;
  padding: 40px 25px;
}

.content3 .title_text {
  font-size: 2rem;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

.content3 .sub_text {
  margin-right: 20px;
  text-align: left;
  opacity: 1;
  font-weight: 300;
}

.content3 .more_btn {
  width: 210px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border: 1px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 1rem;
}

.content4 {
  grid-area: d;
  background: #fff;
  border: 1px solid #f2f3f6;
  font-size: 1.125rem;
}

.content4 .stories_title {
  padding: 40px 1.875rem;
  color: #1d1f24;
}

/* .content4 .story:first-child {
  border-top: 1px solid #f2f3f6;
} */

.content4 .story {
  display: flex;
  align-items: start;
  padding: 25px;
  border-bottom: 1px solid #f2f3f6;
}

.content4 .story:last-child {
  border-bottom: none;
}

.content4 .story_bullet {
  color: #ececec;
  margin-right: 25px;
}

.content4 .story_title {
  padding-right: 10px;
  color: #1d1f24;
  text-decoration: none;
  letter-spacing: -0.2px;
  line-height: 1.2;
  font-size: 1.125rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content5 {
  grid-area: e;
  background: url("./assets/imgs/entertainmentBg.png") #000 no-repeat;
  background-size: cover;
  background-position: center;
}

.content6 {
  grid-area: f;
  background: url("./assets/imgs/financeBg3.png") #000 no-repeat;
  background-size: cover;
  background-position: center;
}

.content7 {
  grid-area: g;
  background: url("./assets/imgs/gamingBg.png") #000 no-repeat;
  background-size: cover;
  background-position: center;
}

.content8 {
  grid-area: h;
  background: url("./assets/imgs/technologyBg.png") #000 no-repeat;
  background-size: cover;
  background-position: center;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
  background: #1d1f24;
}

footer .inner {
  max-width: 1440px;
  width: 100%;
  padding: 2.5rem;
  display: grid;
  grid-template-areas: "a b b b c";
  grid-gap: 2.5rem;
  /* grid-auto-rows: 275px; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

footer .logo_area {
  grid-area: a;
}
address {
  min-width: 140px;
  margin-top: 15px;
  color: #cdcdce;
  font-size: 0.875rem;
  line-height: 1.4;
}

footer .menu_area {
  grid-area: b;
  display: flex;
  flex-wrap: wrap;
}

footer .menu_area .menu {
  width: 25%;
  line-height: 1.8;
}

footer .menu_area .menu a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 14px;
}

footer .mail_container {
  grid-area: c;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mail_container p {
  color: #bbbbbd;
  font-size: 0.875rem;
}

.mail_container .sns_area {
  display: flex;
  margin-bottom: 15px;
}

.mail_container .sns_list {
  display: flex;
}

.mail_container .sns {
  width: 18px;
  height: 18px;
  margin-left: 20px;
  opacity: 0.4;
  background: url("./assets/imgs/snsLogo.png") no-repeat;
}
.mail_container .sns.pin {
  background-position: -16px 0;
}

.mail_container .sns.twitter {
  background-position: -33px 0;
}

.mail_container .sns.facebook {
  background-position: -50px 0;
}

footer .mail_area {
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 35px;
}

footer .mail_area input {
  flex-grow: 6;
  padding-left: 10px;
}
footer .mail_area input::placeholder {
  color: #bbb;
  letter-spacing: -0.02px;
}
footer .mail_area .mail_btn {
  flex-grow: 4;
  background-color: #ff565c;
  border: none;
  color: #fff;
}

@media (max-width: 1339px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  nav {
    display: none;
  }
  .content_container .inner {
    grid-template-areas:
      "a a"
      "a a"
      "d f "
      "d g"
      "c c"
      "h b"
      "e e";
    grid-gap: 15px;
    grid-auto-rows: 335px;
    grid-template-columns: 1fr 1fr;
  }

  footer .inner {
    grid-template-areas:
      "a b b b "
      "c c c c";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  footer .mail_container {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  footer .menu_area .menu {
    width: 33.3%;
    line-height: 2.3;
  }

  .mail_container .sns_area {
    margin-bottom: 0;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .content_container .inner {
    grid-template-areas:
      "a"
      "a"
      "d"
      "d"
      "b"
      "c"
      "c"
      "f"
      "f"
      "f";
    grid-gap: 20px;
    /* grid-auto-rows: 275px; */
    grid-auto-rows: auto;
    grid-template-columns: 1fr;
  }
  .content5,
  .content7,
  .content8 {
    display: none;
  }

  .content2,
  .content6 {
    height: 275px;
  }

  .content3 {
    height: 500px;
  }

  .content3 .sub_text {
    line-height: 1.7;
  }

  .contents .slide_btn_area {
    display: none;
  }

  .content1 {
    height: 500px;
  }

  .content1 .sub_text {
    display: none;
  }

  footer .inner {
    grid-template-areas:
      "a"
      "c"
      "b"
      "b";
    grid-template-columns: 1fr;
    grid-gap: 2.5rem;
  }

  footer .menu_area .menu {
    width: 50%;
    line-height: 2.3;
  }

  footer .mail_container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .mail_container .sns_area {
    margin-left: 0;
    margin-top: 30px;
  }
}
